/* .home {
  background-image: url('../museum.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
} */
